#root{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#contador{
    font-size: 400px;
}

.nuevo{
    width: 150px;
    height: 250px;

}

.product{
    width: 150px;
    height: 150px;
    border: solid 1px black
}

section{
    display: flex;
    flex-direction: row;
}